[project]
	description = Hadoop moving average demo by AlexK2009@hubspaces.com
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Inon S. (InonS)
[access "refs/for/refs/*"]
	read = group user/Inon S. (InonS)
	push = group user/Inon S. (InonS)
	label-Code-Review = -2..+2 group user/Inon S. (InonS)
	label-Verified = -1..+1 group user/Inon S. (InonS)
	rebase = group user/Inon S. (InonS)
	removeReviewer = group user/Inon S. (InonS)
	submit = group user/Inon S. (InonS)
[access "refs/heads/*"]
	read = group user/Inon S. (InonS)
	create = group user/Inon S. (InonS)
	push = +force group user/Inon S. (InonS)
	pushMerge = group user/Inon S. (InonS)
[access "refs/tags/*"]
	push = +force group user/Inon S. (InonS)
	pushTag = group user/Inon S. (InonS)
	pushSignedTag = group user/Inon S. (InonS)
